<!DOCTYPE HTML>


<!-- Dependencies -->
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="css/custom.css">

<!-- Navbar -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div><!-- /navbar-header -->
		
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/myLinks">My Servers</a></li>

      </ul>


    <p class="navbar-text navbar-right">Logged in as <%= user._json.personaname %></a></p>     
    </div><!-- /.navbar-collapse -->


  </div><!-- /container-fluid -->
</nav>